.clients-status-select {
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1B1B1B;
}

.clients-status-select:focus {
    outline: 0;
}

.order-driver-btn {
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 60px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    cursor: pointer;
}

.order-driver-btn:focus {
    outline: 0;
}

.order-state {
    min-width: 80px;
    padding: 7px;
    border: none;
    border-radius: 60px;  
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.order-state:focus {
    outline: 0;
}

.order-initial {
    color: #937200;
    background-color: #FCF1C9;
}

.order-accepted {
    color: #004D92;
    background-color: #D9EDFF;
}

.order-delivery {
    color: #320088;
    background-color: #E7D9FF;
}

.order-cancel {
    color: #BE0707;
    background-color: #FFD9D9;
}

.order-done {
    color: #008C06;
    background-color: #D9FFDA;
}

.orders-prev-next-btn {
    background-color: transparent;
}
