.table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.table-top__btn {
  border: none;
  background-color: transparent;
  padding: 9px 26px;
  background-color: #3EB597;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    background-color: #4F5668;
    width: 146px;
    height: 40px;
    
    &::after {
      display: none;
    }
  }
  
  &::after {
    content: "";
    width: 22px;
    height: 22px;
    margin-left: 10px;
    background-image: url('../../assets/img/addsvg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
  }
}

.table-top__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.table-top__item {
  
}
.table-top__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}
.table-top__item-acv {
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px
}

.table-wraper {
  border-right: 1px solid #D2D2D2;
  border-left: 1px solid #D2D2D2;
  overflow: hidden;
  padding-right: -1px;
  padding-left: -1px;
  border-radius: 10px;
}
.table-wraper__navLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}
.pg-column__btn {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../../assets/img/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 6px 612px;
  cursor: pointer;
}
.pg-column__btn--left {
  transform: rotate(180deg);
}
.pg-column__btn--actv { 
  background-color: #2E3444;
  background-image: url("../../assets/img/ArrowWhite.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 6px 12px;
}
.state {
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 60px;  
  padding: 7px 11px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.state--disabled {
  background-color: #FFD9D9;
  color: #BE0707;
}
.state--enabled {
  background-color: #D9FFDA;
  color: #008C06;
}
.edit {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;  
  background-color: #008C06;
  background-image: url('../../assets/img/edit.svg');
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.delate {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;  
  background-color: #BE0707;
  background-image: url('../../assets/img/delete.svg');
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
}