.clients-table-wrapper {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.clients-table-body a {
    color: #222;
    text-decoration: none;
}

.clients-table-body a:hover {
    color: #2A8CFF;
    text-decoration: underline;
}