.modal-inner {
  display: flex;
  width: 100% ;
}
.modal-inner__left {
  margin-right: 45px;
}
.modal-inner__rigth {
  
}


// Modallarni barcha sitilari (Mahsulotlar tegishli pagedagilari) Catigoriya folder ichidagi modal folder ichidagi  scss filida