@import '../../assets/Scss/variables.scss';

table {
   width: 100%;
   // border-collapse: collapse;
   border-spacing: 0;
   border-radius: 10px;
   border: 1px solid #ddd;
}

thead {
   background-color: $main-color;
   color: #fff;

   th {
      padding-top: 17px;
      padding-bottom: 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      border-bottom: 1px solid #ddd;

      &:nth-child(1) {
         width: 75px;
         padding-left: 30px;
         text-align: left;
         border-radius: 10px 0px 0px 0px;
      }

      &:nth-last-child(1) {
         border-radius: 0px 10px 0px 0px;
      }
   }
}


tbody {
   td {
      height: 58px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      border-bottom: 1px solid #ddd;

      &:nth-child(1) {
         width: 75px;
         padding-left: 30px;
         text-align: left;
      }
   }

   tr {
      &:nth-last-child(1) {
         td {
            border-bottom: none;
         }       
      }
   }

   .pg-column {
      text-align: right !important;
      padding-right: 60px;
      width: 100%;
   }
}

// tbody tr:nth-last-child(1) td {
//    border-bottom: none;
// }